body {
    font-family: 'Contrail One', 'Ariel';
    background-color: white;
}

h1 {
    font-size: 40px;
    margin: auto;
}

.header {
    margin: auto;
    overflow: hidden;
    background-color: white;
    position: relative;
    border-bottom: steelblue;
}

.header #navbar {
    display: none;
}

.header a {
    color: steelblue;
    padding: 12px 14px;
    font-size: 20px;
    text-decoration: none;
    display: block;
}

.header a.icon {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
}

.navbar a:hover {
    background-color: lightgrey;
    color: white;
}

.active {
    background-color: white;
    color: white;
}

.link {
    text-decoration: none;
    color: #000;
}

#welcome_description {
    margin-left: 10%;
    width: 500px;
    margin-bottom: 40px;
}

#news {
    margin-left: 10%;
    width: 500px;
    margin-bottom: 40px;
    display: inline-block;
}

#slider {
    width: 720px;
    height: 400px;
    overflow: hidden;
    display: inline-block;
    margin-left: 300px;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}

footer {
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 12px;
    display: block;
    position: fixed;
    bottom: 0;
}