body {
    font-family: 'Contrail One', 'Ariel';
    background-color: white;
}

h1 {
    font-size: 40px;
    margin: auto;
}

h2 {
    margin: 0px;
}

.header {
    display: inline-block;
    box-sizing: border-box;
    width: 150px;
    overflow: hidden;
    background-color: white;
    position: relative;
}

.header #navbar {
    display: none;
    box-sizing: border-box;
    background-color: white;
}

.header a {
    color: steelblue;
    padding: 12px 14px;
    font-size: 20px;
    text-decoration: none;
    display: block;
}

.header a.icon {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
}

#navbar a:hover {
    background-color: lightgrey;
    color: white;
}

.active {
    background-color: white;
}

a {
    color: #4682b4;
    text-decoration: none;
}

#welcome_description {
    margin-left: 7.5%;
    width: 500px;
    margin-bottom: 40px;
}

#news {
    margin-left: 7.5%;
    width: 500px;
    margin-bottom: 40px;
    display: inline-block;
}

#slider {
    width: 500px;
    height: 400px;
    overflow: hidden;
    float: right;
    margin-right: 7.5%;
    margin-top: -150px;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 500px;
    height: auto;
}

#slider .slide img {
    width: 500px;
    height: 400px;
}

footer {
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 12px;
    display: block;
    position: fixed;
    bottom: 0;
}

@media (max-width: 1150px) {
    #welcome_description {
        width: 280px;
        margin: auto;
        display: block;
    }

    #news {
        width: 280px;
        margin: auto;
        display: block;
    }

    #slider {
        width: 280px;
        height: 280px;
        overflow: hidden;
        display: block;
        margin: auto;
        float: none;
        margin-bottom: 20px;
    }
    
    #slider .slides {
        display: block;
        width: 6000px;
        height: 280px;
        margin: 0;
        padding: 0;
    }
    
    #slider .slide {
        list-style-type: none;
        width: 280px;
        height: auto;
    }
    
    #slider .slide img {
        width: 280px;
        height: 280px;
    }
}