body {
    font-family: 'Contrail One', 'Ariel';
    background-color: white;
}

h1 {
    font-size: 40px;
    margin: auto;
}

h2 {
    font-size: 30px;
    margin-bottom: 0px;
}

.header {
    margin: auto;
    overflow: hidden;
    background-color: white;
    position: relative;
    border-bottom: steelblue;
}

.header #navbar {
    display: none;
}

.header a {
    color: steelblue;
    padding: 12px 14px;
    font-size: 20px;
    text-decoration: none;
    display: block;
}

.header a.icon {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
}

.navbar a:hover {
    background-color: lightgrey;
    color: white;
}

.active {
    background-color: white;
    color: white;
}

.aboutLink {
    text-decoration: none;
    color: #000;
}

section.welcome_description {
    margin-left: 20%;
    width: 500px;
}

#slideshow {
    position: relative;
    width: 300px;
    height: 500px;
}

footer {
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 12px;
    display: block;
    position: fixed;
    bottom: 0;
}