/* Originally created by: Seigfred Madeghe;
   Create on: 3/09/2020
   Modified by: Katya Thorup;
   Date modified: 3/17/2020;
*/

body {
    font-family: 'Contrail One', 'Ariel';
    background-color: white;
    font-size: 17px;
    padding: 8px;
}

/* Styling each available item (style of each grid element) */
img {
    margin-top: 10px;
    width: 80%;
    height: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Contrail One', 'Ariel';
    color: steelblue;
}

.price {
    color: grey;
    font-size: 20px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: grey;
    text-align: center;
    cursor: pointer;
    width: 80%;
    height: auto;
    font-size: 20px;
    font-family: 'Contrail One', 'Ariel';
}


.card button:hover {
    opacity: 0.7;
}

/* This is for the grid container */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    margin: 0 20px;
}

* {
    box-sizing: border-box;
}

.row { 
    display: flex;
    margin-top: 20px;
}

.col-25 {
    flex: 25%;
}

.col-75 {
    flex: 75%;
}

/* checkout box */
.container {
    background-color: #EEEEEE;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

/* Checkout button */
.btn {
    background-color: steelblue;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    opacity: 0.7;
}

/*.trash {
    cursor: pointer;
    background-color: #EEEEEE;
    border: none;
    font-size: 20px;
}*/

a {
    color: #2196F3;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}

@media (max-width: 750px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 30px;
        margin: 0 20px;
    }

    .col-25 {
        flex: 33.33%;
    }

    .col-75 { 
        flex: 66.66%;
    }

    .price, .card button {
        font-size: 15px;
    }
}

@media (max-width: 450px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 30px;
        margin: 0 20px;
    }

    .col-25 {
        flex: 50%;
    }

    .col-75 { 
        flex: 50%;
    }

    .price, .card button {
        font-size: 13px;
    }
}