.nav2 a {text-decoration: none; font-size: 20px; margin: 0 5%; color: steelblue;}
.nav2 a:first-child {margin-left: 0;}
.nav2 a:last-child {margin-right: 0;}
.nav2 {text-align: center;}
.nav2 .active {background-color: lightgrey;}

section, .row, .column {box-sizing: border-box;}
img {width: 100%; height: auto;}

@media(max-width: 750px) {
    .nav2 a{margin: 0 10px; font-size: 15px;}
    .nav2 a:first-child {margin-left: 0;}
    .nav2 a:last-child {margin-right: 0;}
    .name, .bio {font-size: 15px;}
    .row {flex-direction: column;}
    .column {flex: 100%;}
    h1 {font-size: 25px;}
}